#copylogo{
    background-color: #F2F2F2;
    text-align: center;
}
@media(max-width:600px){
    #copylogo{
        padding: 2rem;
        padding-left: 0.5rem;
        background-color: #F2F2F2;
        text-align: center;
    }

}