/* #body {
    text-align: center;
    border: none;
    margin-top: 2rem;
    width: 50rem;
    margin-left: 15rem;
    background-color: #fbf8fd;
  
    box-shadow: 0px 2px 3px #000000;
  }
  #innertext {
    padding-top: 1rem;
  }
  #btntext {
    padding-top: 1rem;
  }
  #btn-in {
    width: 33rem;
    border-radius: 6px;
    text-align: center;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    background-color: #e4e4e4;
    border: none;
    font-weight: 500;
    padding: 2px;
  }
  #btn-inner {
    position: relative;
    right: 5.8rem;
    width: 16rem;
    border-radius: 6px;
    text-align: center;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    border: none;
    background-color: white;
    font-weight: 500;
  }
  #inputfield {
    width: 20rem;
    text-align: center;
    padding-left: 8.5rem;
  }
  #text1 {
    width: 33rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: 0.5px solid #e4e4e4;
    padding: 7px;
    font: Roboto;
    letter-spacing: 0px;
    color: #bbafaf;
    opacity: 1;
  }
  #text2 {
    width: 33rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: 0.5px solid #e4e4e4;
    padding: 7px;
    font:Roboto;
    letter-spacing: 0px;
    color: #bbafaf;
    opacity: 1;
  }
  #text3 {
    width: 33rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: 0.5px solid #e4e4e4;
    padding: 7px;
    font:Roboto;
    letter-spacing: 0px;
    color: #bbafaf;
    opacity: 1;
  }
  #text4 {
    width: 33rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: 0.5px solid #e4e4e4;
    padding: 7px;
    font: Roboto;
    letter-spacing: 0px;
    color: #bbafaf;
    opacity: 1;
  }
  #text5 {
    width: 33rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: 0.5px solid #e4e4e4;
    padding: 7px;
    font:  Roboto;
    letter-spacing: 0px;
    color: #bbafaf;
    opacity: 1;
  }
  #form span {
    color: #7c20bf;
  }
  #form p {
    padding-top: 1rem;
    text-align: left;
    padding-left: 8.5rem;
    color: #000000;
    font-size: 18px;
    font:Roboto;
    letter-spacing: 0px;
    opacity: 1;
  }
  #btn-sign{
      margin-top: 2rem;
      width: 33rem;
      border-radius: 9px;
      padding: 8px;
      background-color: #7C20BF;
      color: white;
      font-size: 20px;
      border: none;
  }
  #click{
      padding-top: 1.5rem;
      padding-left: 6rem;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      
      
      
  }
  .ch{
      cursor: pointer;
  } */