#header {
  background: linear-gradient(50deg, #7c1fbf 30%, #470a73);
  height: 100vh;
  position: relative;
}

#innercircle1 {
  width: 30rem;
  height: 30rem;
  border-radius: 100%;
  position: absolute;
  right: 2rem;
  top: 2rem;
  box-shadow: 0px 2px 3px #26093a;
  border: 4rem solid #7c20be;
  opacity: 0.45;
  filter: blur(0px);
}
#innercircle2 {
  width: 33rem;
  height: 33rem;
  border-radius: 100%;
  position: absolute;
  right: 18rem;
  top: 0;
  box-shadow: 0px 2px 3px #26093a;
  border: 4rem solid #7c20be;
  opacity: 0.45;
  filter: blur(0px);
}
#buy{
  position: absolute;
  left: 5%;
  top: 10%;
  width: 20rem;
}
#buy h2 {
  
  bottom: 20rem;
  right: 40rem;
  width: 566px;
  font: normal normal bold 48px/68px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
}
#buy p {
  bottom: 16rem;
  right: 40rem;
  width: 566px;
  font: Roboto;
  letter-spacing: 0px;
  color: white;
}
#btn-gsd {
  
  top: 20rem;
  right: 55rem;
  width: 20rem;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-bottom: 2rem;
}
#appstore {
 
  color: #ffffff;
  top: 25rem;
  right: 66rem;
}
#img7 {
  position: absolute;
  left: 10rem;
}
@media screen and (max-width: 468px){
  /* header */
  * {
    overflow-x: hidden;
  }
  #header {
    background: linear-gradient(50deg, #7c1fbf 30%, #470a73);
    height: 100vh;
    position: relative;
  }
  #buy{
    position: absolute;
    left: 5%;
    top: 10%;
    width: 20rem;
  }
  #buy h2 {
    text-align: start;
    top: 5rem;
    left: 1rem;
    width: 20rem;
    font: normal normal bold 32px/54px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
  }
  #buy p {
    text-align: start;
    top: 17rem;
    left: 1rem;
    width: 350px;
    font: Roboto;
    letter-spacing: 0px;
    color: white;
  }
  #btn-gsd {
    top: 25rem;
    left: 1rem;
    width: 20rem;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
  }
  #btn-gsd:hover {
    top: 25rem;
    left: 1rem;
    width: 20rem;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #470a73;
  }
  #appstore {
    color: #ffffff;
    top: 33rem;
    left: 1rem;
    width: 35rem;
    
    
  }
  #img7 {
    left: 10rem;
  }

  
  
}

